html, body {
    display: flex;
    flex-direction: column;

    margin: 0;
    height: 100%;

    font-family: "Figtree", sans-serif;
}

header {
    display: flex;

    background-color: #09212A;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header-inner {
    max-width: 1440px;
    margin-left: 15%;
}

main {
    flex: 1;
    display: flex;

    background-color: #06171E;
    color: #FFFFFF;

    justify-content: center;
    align-items: center;

    position: relative;

}

h1 {
    font-size: 56px;
    font-weight: 800;
    line-height: 100%;

    margin: 0;
    padding-bottom: 80px;
}

h2 {        
    font-size: 24px;
    font-weight: 700;
    line-height: 100%;

    margin: 0;
    padding-top: 48px;
    padding-bottom: 48px;
}

main button {
    all: unset;
    cursor: pointer;
}

.landingpage-image {
    height: 150px;
    width: 150px;

    margin-right: 16px;
    border-radius: 16px;
    border: 2px solid #124658;

    object-fit: cover;
    object-position: center;

    aspect-ratio: 1 / 1;
}

footer {
    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: #09212A;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 16px;

    color: #99ACB3;
    font-size: 14px;
    font-weight: 400;
}

.photo-album {
    padding-top: 0px;
}

.dialog-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 56px;
    padding-top: 0;
    align-self: center;

    justify-self: center;


    width: 20vw;
}

dialog[open] {
    display: flex;
    flex-direction: column;

    background-color: #09212A;
    color: white;

    padding: 0;

    border: 0px;
    border-radius: 40px;

    width: 700px;
    max-width: 80vw;

    max-height: 700px;
    max-height: 70vh;

    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

dialog[open] header {
    justify-content: space-between;
    margin-left: 72px;
    margin-right: 72px;
    align-items: center;

}

dialog[open] header img {
    width: 24px;
    height: 24px;
}

dialog[open] section {
    display: flex;
    justify-content: center;

    padding-bottom: 48px;
}

dialog[open] section img {
    width: 100%;
    max-width: 560px;
    height: 300px;
    object-fit: cover;
    aspect-ratio: 16 / 9;
}

.dialog-arrow {
    height: 60px;
    width: 60px;
}

.image-number {
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;

    color: white;
}

