/* General */

html, body {
    display: flex;
    flex-direction: column;

    margin: 0;
    height: 100%;

    font-family: "Figtree", sans-serif;

    background-color: #06171E;
    align-items: center;
    width: 100%;
}

header {
    display: flex;

    justify-content: center;
    background-color: #09212A;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
}

.header-inner {
    width: 1440px;
    padding-left: 5%;
}

main {
    flex: 1;
    display: flex;

    background-color: #06171E;
    color: #FFFFFF;

    justify-content: center;
    align-items: center;

    position: relative;

    max-width: 1440px;

}

footer {
    display: flex;
    align-items: center;
    flex-direction: column;

    background-color: #09212A;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 16px;

    color: #99ACB3;
    font-size: 14px;
    font-weight: 400;

    border-top-left-radius: 35%;
    border-top-right-radius: 35%;
    border-top-style: inherit;

    width: 100%;
}


/* Headlines */

h1 {
    font-size: 56px;
    font-weight: 800;
    line-height: 100%;

    margin: 0;
    padding-bottom: 80px;
}

h2 {        
    font-size: 24px;
    font-weight: 700;
    line-height: 100%;

    margin: 0;
    padding-top: 48px;
    padding-bottom: 48px;
}


/* Buttons */

main button {
    all: unset;
    cursor: pointer;
}

button:focus {
    outline: 2px solid white;
}


/* Images */

.landingpage-image {
    height: 150px;
    width: 150px;

    border-radius: 16px;
    border: 2px solid #124658;

    object-fit: cover;
    object-position: center;

    aspect-ratio: 1 / 1;
}

.landingpage-image:hover {
    border: 10px;
}


.photo-album {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
}

.album-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center;
    gap: 50px;
    max-width: 1400px;
}

.album-first-row {
    display: flex;
    gap: 16px;
}

.album-second-row {
    display: flex;
    gap: 16px;
}


/* Dialog */

.dialog-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 56px;
    padding-top: 0;
    align-self: center;

    justify-self: center;

    width: 20vw;
}

dialog[open] {
    display: flex;
    flex-direction: column;

    background-color: #09212A;
    color: white;

    padding: 0;

    border: 0px;
    border-radius: 40px;

    width: 700px;
    max-width: 80vw;

    max-height: 700px;
    max-height: 70vh;

    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

dialog[open] header {
    justify-content: space-between;
    align-items: center;
    justify-self: center;
    align-self: center;
    max-width: 560px;
}

dialog[open] header img {
    width: 24px;
    height: 24px;
}

dialog[open] section {
    display: flex;
    justify-content: center;

    padding-bottom: 48px;
}

dialog[open] section img {
    width: 100%;
    max-width: 560px;
    height: 300px;
    object-fit: cover;
    aspect-ratio: 16 / 9;
}

.dialog-arrow {
    height: 60px;
    width: 60px;
}

.image-number {
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;

    color: white;
}


/* Responsive - Phone */

@media(max-width: 900px) {

    /* General */

    main {
        max-width: 100%;
        text-align: center;
        margin-top: 40px;
    }
    
    footer {
        margin-top: 40px;
    }

    footer svg {
        width: 100px;
        height: 24px;
    }


    /* Header */

    .header-inner {
        display: flex;
        justify-content: center;
        padding-left: 0;
    }


    /* Headlines */

    h1 {
        font-size: 48px;
        font-weight: 800;
        line-height: 120%;

        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 64px;
    }

    h2 {
        padding-top: 32px;
        padding-bottom: 32px;
    }


    /* Images */

    .album-images {
        gap: 16px;
        margin-left: 0;
        margin-right: 0;
        
        flex-direction: row;
    }

    .album-first-row {
        flex-direction: column;
    }

    .album-second-row {
        flex-direction: column;
    }

    /* Dialog */

    dialog[open] {
        position: absolute;
        top: 0;
        left: 0;
        transform: none;
        justify-self: center;

        max-width: 100%;
        width: 100%s;

        max-height: 600px;
    }
    
    dialog[open] header {
        padding-top: 0;
        padding-bottom: 0;

        max-width: 300px;
    }

    dialog[open] section {
        padding-bottom: 32px;
        max-width: 100vw;
    }

    dialog[open] section img {
        width: 300px;
        max-width: 300vw;
        height: 375px;
        object-fit: cover;
    }


    .dialog-footer {
    
        padding-bottom: 32px;
        padding-top: 0;
        align-self: center;
        margin-top: 0;

        justify-self: center;

        width: 70vw;
    }

}